@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="Post">
        <div class="form-group">
            <label name="Name">Name</label>
            <input id="Name" class="form-control" />
        </div>

        <div class="form-group">
            <label name="email">Email Address</label>
            <input id="email" class="form-control" />
        </div>
        <div class="form-group">
            <label name="Mobile">Mobile Number</label>
            <input id="Mobile" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="submit" class="btn btn-primary" />
        </div>
    </form>
</div>
